.section-wrapper{
    background-color: var(--color-darkest);
    border-radius: var(--border-redius-primary);
    padding: calc(var(--padding-primary) / 2);
    margin-top: var(--margin-primary);
    color: var(--color-light);
}
